# This is an example configuration file for the TestKit.

####
# this is fred t. hamster's personal testkit config file.
####

##############

# This section defines variables that are used throughout the tests.
# Many of these need to change to suit your particular configuration.

# The base user name is used for any paths below that refer to the user who
# will be running the tools and tests.  This should be changed to the actual
# user account under which the tools and tests will be run, if the default
# value based on USER cannot be relied upon.
BASE_USER=${USER}

# Used for windows testing; provides the path to the binaries directory of cygwin.
#CYGWIN_BIN_PATH=c:/cygwin/bin

##############

# define the tests to run.  this is the most convenient place to put this.
# the test suite list obviously will vary a lot based on what is being tested.
TESTKIT_TEST_SUITE=( \
  $TESTKIT_ROOT/examples/blank_test.sh \
)

##############

