
# this config file provides the default values for the variables used in our site management scripts.

# basic information...
APPLICATION_DIR="$HOME/apps"
DEFAULT_REPOSITORY_ROOT="git@github.com:kwentworth"
CHECKOUT_DIR_NAME="avenger5"

# most config files will only need to override things below this line.
# they should include the basic configs using this code:
#   source $WORKDIR/config/default-site_avenger.config
######################################################################

# deployment information...
APPLICATION_NAME=mapsdemo

# change this if the site is on the "real" internet.  otherwise, for any
# sites that are served from the cakelampvm.com vm, the derived config
# files can just repeat this code.  they *MUST* include it though, since
# it needs to see their version of the APPLICATION_NAME variable.
DOMAIN_NAME="${APPLICATION_NAME}.vm"


